# Archivos privados
.env
.test.env

# Carpeta de desarrollo
.vscode/

# Documentación no necesaria en el VSIX
ARCHITECTURE.md
INSTALL.md
SECURITY.md
README.en.md

# Código fuente TS, solo incluir "out/"
src/

# Dependencias — solo incluir las que realmente necesitás
node_modules/

# Git
.git/
.gitignore

# Backups locales
backups/
